ul{
                    color:rgb(117, 40, 206);
        
              }
              h1{
                   text-align: center;
                    color:brown;
              border:dashed red;
               
        
                    
              
        
              }
        body{
              background-color: rgb(17, 206, 159);
        }
        th{
              color: rgb(184, 11, 20);
        
        }
        #mans{
              color: rgb(73, 51, 18);
        }